<li class="nav-item has-treeview menu-open">
  <a href="#" class="nav-link">
      <i class="nav-icon fas fa-user"></i>
      <p>
          Salari&eacute;s
          <i class="right fas fa-angle-left"></i>
      </p>
  </a>
  <ul class="nav nav-treeview sous-menu-sidebar-left">
    <li class="nav-item">
        <a href="{{ path('salary_new') }}/" class="nav-link">
            <i class="fas fa-user-plus nav-icon"></i>
            <p>Nouveau salari&eacute;</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('salary_list') }}/" class="nav-link">
            <i class="fas fa-users nav-icon"></i>
            <p>Liste salari&eacute;</p>
        </a>
    </li>
  </ul>
</li>